<ion-content scroll-y="false">
    <div class="d-flex justify-center lottie">
        <div class="chargement">
            <ion-icon src="../../assets/icon/home/voiture.svg"></ion-icon>
            <!-- <ion-spinner size="80" name="bubbles" class="loadGlobal" color="secondary"></ion-spinner> -->
            <div class="loader">
                <div class="loader--dot"></div>
                <div class="loader--dot"></div>
                <div class="loader--dot"></div>
                <div class="loader--dot"></div>
                <div class="loader--dot"></div>
                <div class="loader--dot"></div>
            </div>
        </div>
        <p class="font12 color-secondary logo-bottom">
            R23
        </p>
    </div>
</ion-content>