<app-header></app-header>
<app-header-info-user pageActive="Gestion des véhicules"></app-header-info-user>

<ion-content>
    <ion-grid class="container">
        <ion-row class="p-2">
            <ion-col class="padcol1" size="12">
                <div (click)="verPage('add-destination')" class="item-menu-show">
                    <ion-icon class="mr-2" src="../../../assets/icon/profile/reservation.svg"></ion-icon>
                    Ajouter votre destination
                </div>
            </ion-col>
            <ion-col class="padcol1" size="12">
                <div (click)="verPage('add-voiture')" class="item-menu-show">
                    <ion-icon class="mr-2" src="../../../assets/icon/profile/reservation.svg"></ion-icon>
                    Ajouter votre véhicule
                </div>
            </ion-col>
            <ion-col class="padcol1" size="12">
                <div (click)="verPage('gestion-vehicule')" class="item-menu-show">
                    <ion-icon class="mr-2" src="../../../assets/icon/profile/reservation.svg"></ion-icon>
                    Liste des véhicules
                </div>
            </ion-col>
            <ion-col class="padcol1" size="12">
                <div (click)="verPage('disponibility')" class="item-menu-show">
                    <ion-icon class="mr-2" src="../../../assets/icon/profile/reservation.svg"></ion-icon>
                    Tours des voitures
                </div>
            </ion-col>
            <ion-col class="padcol1" size="12">
                <div (click)="verPage('add-type-cooperative')" class="item-menu-show">
                    <ion-icon class="mr-2" src="../../../assets/icon/profile/reservation.svg"></ion-icon>
                    Différentes gammes de voitures
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid class="footer">
        <div class="d-flex w-100 px-3 pt-3">
            <div class="d-flex">
                <ion-icon (click)="showMenuClick()" size="54" src="../../../../assets/icon/accueil/menu.svg"></ion-icon>
                <ion-text>
                    Au cours de votre voyage <br><span class="uppercase">Un plaisir garanti...</span>
                </ion-text>
            </div>
            <ion-icon (click)="verPage('accueil')" class="logo-footer" size="54" src="../../../../assets/icon/register/logo-blanc.svg"></ion-icon>
        </div>
    </ion-grid>
</ion-footer>