.name-cooperative {
    margin: 20px;
    margin-top: 45px;
}

.ml-2.max-100 {
    max-width: calc(100% - 80px);
}

.padding-indisk {
    border-radius: 10px;
}

.item-menu-show {
    margin: 3px 0;
}